@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
	font-family: "Jersey 10", sans-serif;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	font-family: "Jersey 10", sans-serif;
	color: #66bbff;
}
.Botao1 {
	font-family: "Jersey 10", sans-serif;
	text-decoration: none;
	background-color: #66bbff;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}
.Botao2{
	font-family: "Jersey 10", sans-serif;
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
}
.Caixa1 {
	font-family: "Jersey 10", sans-serif;
	width: 320px;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}
.Caixa2{
	font-family: "Jersey 10", sans-serif;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px;
}
#caixa3 {
	font-family: "Jersey 10", sans-serif;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px;
}
#tabela{
	font-family: "Jersey 10", sans-serif;
	margin-top: 30px;
	border-collapse: collapse;
}
#tabela th{
	font-family: "Jersey 10", sans-serif;
	border: 1px solid #ddd;
	padding: 10px;
	text-align: Left;
	background-color: #66bbff;
	color: #fff;
}
#tabela td{
	border: 1px solid #ddd;
	padding: 10px;
}